body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  .feed {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    border-left: 1px solid var(--twitter-background);
     /* */
    min-width: fit-content;
  
    justify-content: center;
    
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }