body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.feed {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);
   /* */
  min-width: fit-content;

  justify-content: center;
  
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */
.post__avatar{
  display: flex;
  
  gap: 8px;
}
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  
}

.post__body img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  /* object-fit: contain; */
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}
.post__headerDescription>p>a{
  text-decoration: none;
  color: rgb(53, 53, 233);
}
.post__headerDescription>p{
display: flex;
margin-top: 40px;
margin-right: 40px;
}
