.right-bar {
    flex: 0.3;
    position: static;
  }
  
  .right-input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    position: sticky;
  
  }
  
  .right-input > input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .right-input-searchIcon {
    color: gray;
  }
  
  .right-input-Container {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .right-input > h2 {
    font-size: 18px;
    font-weight: 800;
  }
  