footer {

    padding: 0 3rem;

}

footer a {

    text-decoration: none;

    color: rgba(0, 0, 0, .7);

    font-size: .8rem;

    margin: 0 .2rem;

    line-height: 5vh;

}

footer a:hover {

    text-decoration: underline;

}