.lgn-container {
  margin-left: 44px;
  background: #fff;
  max-width: fit-content;
  /* border-radius: 20px; */
  /* box-shadow: 5px 5px rgb(110, 110, 110, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  /* margin-top: -20px; */

  min-height: 100vh;
  /* background: #f53 !important; */
}
.box,
.box button {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.box {
  max-width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  /* background: #f53 !important; */
  padding: 15px;
}
.box button {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.box-one button img {
  margin: 0 0.5rem;
}
.box-one i {
  color: #00acee;
  font-size: 1.8rem;
}
.box-two input {
  position: relative;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
}
.box-two input label {
  position: absolute;
  top: 0;
}
.box-two input::placeholder {
  font-size: 1rem;
}
.box-two input:focus {
  border: 1px solid #00acee;
}
.box-two .next-btn {
  background-color: #121212;
  color: #fff;
}
.container p {
  font-size: 0.7rem;
  color: rgb(138, 136, 136);
}
.container p a {
  text-decoration: none;
  color: #00acee;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.full-container {
  display: flex;
  flex-direction: row;
  max-height: 100% !important;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 0;
  margin: -8px;
}
.error {
  /* color: red; */
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
}

.left-cover > img {
  margin-top: -55px;
  margin-left: -20px;
  margin-bottom: -50px;
  width: 110%;
  /* height: 130%; */
  object-fit: fill;
}

.signup-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
